
.container-pai{
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  padding-top: 30px;
  padding-bottom: clamp(32px, 5vw, 80px)

}
.Texto{

  width: 500px;
  height: 250px;
  padding: 10px;

  p{
    padding-top: 10px;
    padding-left: 15px;
    line-height: 26px;
  }
  h1{
    font-size: 3.9em;
    line-height: 50px;
    padding-left: 20px;

  }
}

.container-opcoes{
  border: solid 1px gray;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rgba(110, 107, 107, 0.87);

}
.container-veiculos{
  display: grid;
  grid-template: 100px / 200px 200px;
  gap: 20px;
  padding-left: 10px;
  padding-bottom: 18px;
  padding-top: 10px;
  

}

.container-serviço{
  display: grid;
  grid-template: 100px / 200px 200px;
  gap: 20px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
 
}

.container-tipos{
  display: grid;
  grid-template: auto/auto auto auto auto;
  padding-top: 20px;
}
.cards{
  background-color: rgb(7, 7, 7);
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px gray solid;
  text-align: center;
  box-shadow: 2px 2px 3px rgba(110, 107, 107, 0.87);

}
.cards:hover{
  border: solid 1px red;
}


.container-tipos {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

mat-button-toggle-group {
  border: none !important;
  background: transparent !important;
  display: flex;
  gap: 20px;
}

mat-button-toggle {
  border: none !important;
  background: transparent !important;
  color: white !important;
  padding: 0 !important;
  min-width: auto !important;
}

/* Remove a linha/borda entre os botões */
mat-button-toggle + mat-button-toggle {
  border-left: none !important;
}

/* Remove o fundo azul do selecionado */
mat-button-toggle.mat-button-toggle-checked {
  background: transparent !important;
  color: white !important;
}

/* Texto AG5, AG20, AG30 e AG50 */
mat-button-toggle span {
  color: white !important;
}

.opcao-pelicula {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.icone-pelicula {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #888;
  box-sizing: border-box;
}
.icone-pelicula:hover{
 border: solid red 2px;
}

/* AG5 */
.preto {
  background-color: #000;
}

/* AG20 */
.cinza {
  background-color: #555;
}

/* AG30 */
.cinza-claro {
  background-color: #aaa;
}

/* AG50 */
.transparente {
  background-color: white;
  border: 2px solid #aaa;
}