<div class="cabecalho">
  <div class="Icone">
    <div class="imagem"><img src="LogoLoja.png" alt="Logo tico Film" routerLink="/" /></div>
    <div class="texto">
      <h1>Tico Film <br>Loja Automotiva</h1>
    </div>
  </div>
  <button
    class="menu-toggle"
    [class.aberto]="menuAberto()"
    (click)="alternarMenu()"
    [attr.aria-expanded]="menuAberto()"
    aria-label="Abrir menu"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav [class.aberto]="menuAberto()">
    <a routerLink="/servicos" (click)="fecharMenu()">Serviços</a>

    <a routerLink="/quem-somos" (click)="fecharMenu()">Quem Somos</a>

    <a routerLink="/simulador" (click)="fecharMenu()">Visualizador</a>

    <a routerLink="/avaliacoes" (click)="fecharMenu()">Avaliações</a>

    <a routerLink="/contato" (click)="fecharMenu()">Contato</a>
  </nav>
</div>
