<h1>Quem somos</h1>
<div class="quemsomos">

  <div id="texto">

    <h1 style="color: white;">Paixão por carros, <br><span style="color: red;">Compromisso por você</span> </h1>
    <p>Na Tico Film, somos apaixonados pelo universo automotivo e comprometidos  em oferecer produtos  e serviços que unem qualidade, tecnologia e segurança.  Trabalhamos a 9 anos com a instalação  de películas automotivas e residenciais, acessórios para veículos, sistemas de rastreamento  veicular, plotagem e som automotivo, sempre utilizando produtos de alta qualidade e mão de obra especializada.
    Nosso compromisso é proporcionar a melhor experiência aos nossos clientes,  oferecendo  atendimento personalizado, preços justos e soluções que valorizam, protegem e tornam cada  veículo ainda mais completo.
    Mais do que vender produtos,  buscamos construir relacionamentos baseados na confiança, transparência e excelência  em cada serviço realizado. <br> Tico Film — Proteção, tecnologia e estilo para o seu veículo.</p>
</div>

<div id="Imagem"><img src="Imagem quem-somos.jpg" alt="quem-somos">
</div>

</div>
