<div class="container">
  <div class="header">
    <div class="texto">
      <p><span class="material-symbols-outlined icone-minimizar"> minimize</span>Quem somos</p>
      <h1>
        Mais que uma loja,<span style="color: red"> <br />somos apaixonados por carros</span>
      </h1>
      <p>
        A Tico Film é uma empresa especializada em películas automotivas, acessórios e estética
        veicular, com 10 anos de experiência em Vitória da Conquista. Somos formados por uma equipe
        que ama o universo automotivo e trabalha todos os dias para entregar qualidade, segurança e
        satisfação aos nossos clientes. Desde o início da nossa história, nosso principal objetivo
        sempre foi oferecer produtos de qualidade, serviços bem executados e um atendimento próximo
        e transparente. Acreditamos que cada veículo merece atenção aos detalhes e que um bom
        serviço vai muito além da instalação: é preciso entender a necessidade de cada cliente e
        oferecer a solução mais adequada.
      </p>
      <p>
        Trabalhamos com produtos de alta qualidade, marcas reconhecidas no mercado e contamos com
        profissionais experients, prontos para entregar o melhor resultado para o seu veiculo.
      </p>
      <p></p>
      <p>
        <span class="material-symbols-outlined icone-minimizar"> minimize</span>Tico Film -
        Proteção, tecnologia e estilo para o seu veiculo.
      </p>
    </div>

    <div class="imagem-header">
      <div class="carrossel-frame">
        <div class="carrossel">
          <img
            *ngFor="let imagem of imagens; let i = index"
            [src]="imagem"
            alt="Multimidia"
            class="slide"
            [class.ativo]="i === indiceAtual"
          />
        </div>
      </div>
    </div>
  </div>
</div>
