h1{
  font-size: 3.5em;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 25px;
}

.quemsomos{

  color: rgb(255, 255, 255);
  padding-top: 40px;
  min-height: 100vh;
  padding-bottom: clamp(32px, 5vw, 80px);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#texto {
  display: flex;
  flex-direction: column;
  width: 600px;

 h1{
  text-align: left;
  font-size: 3.2em;
  line-height: 40px;
 }
 p{
  line-height: 25px;

 }

}

img{
  padding-top: 80px;
  border-radius: 10px;
}
