<div class="Servicos">
  <div class="header">
    <h1><span class="material-symbols-outlined icone-minimizar">minimize</span>Serviços</h1>
    <p>Peliculas automotivas de alta performance, acessórios premium e estética veicular com padrão de excelência.</p>
  </div>

  <div class="container">
      <nav class="cards">
        <img src="Logo pelicula.png" alt="Logo Pelicula">
       <h3>Aplicação de Película</h3>
        <p>Películas de alta qualidade, escolhidas de acordo com a necessidade de cada cliente.</p>
        <a routerLink="/servicos/peliculas">Saiba Mais</a>
      </nav>
      <nav class="cards">
         <img src="Logo de acessório.png" alt="Logo acessório">
        <h3>Acessórios</h3>
        <p>Acessórios variados, como sensores de ré, trava elétrica.</p>
        <a routerLink="/servicos/acessorios">Saiba Mais</a>
      </nav>
      <nav class="cards" id="caixa3">
        <img src="Logo rastreador.png" alt="Logo rastreador">
        <h3>Rastreadores</h3>
        <p>Mais segurança e controle para o seu veículo com rastreamento em tempo real.</p>
        <a routerLink="/servicos/rastreadores">Saiba Mais</a>
      </nav>
       <nav class="cards" id="caixa4">
        <img src="LogoPlotagem.png" alt="Logo caixa de som">
        <h3>Plotagem</h3>
        <p>Na tico Film trabalhamos com material de qualidade para plotagem do seu carro.</p>
        <a routerLink="/servicos/plotagem">Saiba Mais</a>
      </nav>

  </div>
</div>

