<div class="Servicos">
  <h1>Serviços</h1>
  <p>Conheça os serviços oferecidos pela tico film, tudo para qualidade do seu veículo</p>

  <div class="container">
      <nav class="cards" id="caixa1">
        <img src="Logo pelicula.png" alt="Logo Pelicula">
       <h3>Aplicação de Película</h3>
        <p>Peliculas variadas e de ótima qualidade, de acordo a necessidade do cliente</p>
        <a routerLink="/servicos/peliculas">Saiba Mais</a>
      </nav>
      <nav class="cards" id="caixa2">
         <img src="Logo de acessório.png" alt="Logo acessório">
        <h3>Acessórios</h3>
        <p>Acessórios variados, como sensores de ré, trava elétrica</p>
        <a routerLink="/servicos/acessorios">Saiba Mais</a>
      </nav>
      <nav class="cards" id="caixa3">
        <img src="Logo rastreador.png" alt="Logo rastreador">
        <h3>Rastreadores</h3>
        <p>Quer garantir a segurança do seu carro, também trabalhamos com rastreadores</p>
        <a routerLink="/servicos/rastreadores">Saiba Mais</a>
      </nav>
      <nav class="cards" id="caixa4">
        <img src="Logo caixa de som.png" alt="Logo caixa de som">
        <h3>Som automotivo</h3>
        <p>Na Tico Film, também fazemos sons de qualidade ao gosto do cliente</p>
        <a routerLink="/servicos/som automotivo">Saiba Mais</a>
      </nav>
       <nav class="cards" id="caixa5">
        <img src="LogoPlotagem.png" alt="Logo caixa de som">
        <h3>Plotagem</h3>
        <p>Na tico Film trabalhamos com material de qualidade para plotagem do seu carro</p>
        <a routerLink="/servicos/plotagem">Saiba Mais</a>
      </nav>

  </div>
</div>

