<div class="avaliacoes">

  <div class="header">
    <h1><span class="material-symbols-outlined icone-minimizar">minimize</span>Avaliações</h1>
    <p>Avaliações de nossos clientes no google.</p>
  </div>

  <div class="container">


    <nav class="cards" id="caixa1">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Sem dúvidas o melhor local para aplicação de película automotiva
        em Conquista. Procurei justamente pelo grande diferencial do corte
        computadorizado (evita uso de estiletes no carro), porém fui
        surpreendido pela qualidade no atendimento e o mais importante,
        o melhor preço. Resumindo: Excelente atendimento, tecnologia e
        preço baixo.”
      </p>

    </nav>



    <nav class="cards" id="caixa2">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Excelente profissional, trabalho e material de ótima qualidade!
        Meu carro ficou perfeito!”
      </p>

    </nav>



    <nav class="cards" id="caixa3">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Pessoal gente boa e um serviço de qualidade.”
      </p>

    </nav>



    <nav class="cards" id="caixa4">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Profissional excelente, tecnologia no corte da película.
        Recomendo”
      </p>

    </nav>

  </div>

</div>
