<div class="avaliacoes">

  <h1>Avaliações</h1>

  <p>Avaliações de nossos clientes</p>

  <div class="container">

    <!-- Avaliação 1 -->
    <nav class="cards" id="caixa1">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Sem dúvidas o melhor local para aplicação de película automotiva
        em Conquista. Procurei justamente pelo grande diferencial do corte
        computadorizado (evita uso de estiletes no carro), porém fui
        surpreendido pela qualidade no atendimento e o mais importante,
        o melhor preço. Resumindo: Excelente atendimento, tecnologia e
        preço baixo.”
      </p>

    </nav>


    <!-- Avaliação 2 -->
    <nav class="cards" id="caixa2">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Excelente profissional, trabalho e material de ótima qualidade!
        Meu carro ficou perfeito!”
      </p>

    </nav>


    <!-- Avaliação 3 -->
    <nav class="cards" id="caixa3">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Pessoal gente boa e um serviço de qualidade.”
      </p>

    </nav>


    <!-- Avaliação 4 -->
    <nav class="cards" id="caixa4">

      <div class="perfil">

        <div class="avatar">
          👤
        </div>

        <div>
          <strong>Cliente</strong>
          <div>⭐⭐⭐⭐⭐</div>
        </div>

      </div>

      <p>
        ”Profissional excelente, tecnologia no corte da película.
        Recomendo”
      </p>

    </nav>

  </div>

</div>
