@use '@angular/material' as mat;

html {
  height: 100%;
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {

  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
  height: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

h1,
h3 {
  font-family: 'Madimi One', sans-serif;
  color: white;
}
p {
  font-family: 'Manuale', sans-serif;
  color: white;
  font-size: 1.1em;
}

a {
  text-decoration: none;
  color: white;
  border-bottom: 1px solid transparent;
  transition: color 0.6s ease, border-color 0.6s ease;
}
a:hover {
  color: red;
  border-color: red;
  padding-bottom: 7px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}
main {
  flex: 1;
}
.whatsapp-flutuante {
  position: fixed;

  right: 25px;
  bottom: 20px;

  width: 62px;
  height: 62px;

  background-color: #25D366;

  border: 3px solid #000;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;

  z-index: 9999;

  box-shadow:
    0 4px 15px rgba(0, 0, 0, 0.5);

  transition: all 0.3s ease;

  img{
    height: 40px;
    width: 40px;
    padding-top: 2px;
  }
}

.whatsapp-flutuante:hover {
  transform: scale(1.12);

  box-shadow:
    0 0 20px rgba(37, 211, 102, 0.6);
}

